<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<style type="text/css">
	
</style>
<body>
<div class="main-title">	
	<div class="custom-titlebar" id="finbyz">
		<a>
			<img src="../media/png/Finbyz_Original_Wide.svg" height="25" width="100">
		</a>	
	</div>
	<div class="drag-barlogin">
	</div>
		<div class="close right-align" id="close">
			<i>&times;</i>
		</div>
		<div class="minus right-align" id="minus">
			<i>&minus;</i>
		</div>
		<div style="clear: both"></div>
</div>
<form method="POST">
	<div class="window-container">
			<div class="form-container" style="">
				<table class="login-user" width="97%">
					<tbody style="font-size: 12px;">
						<tr> 
							<td colspan="2">
								<p>User Name</p>
								<input type="text" name="" id="username" placeholder="Username" autofocus>
							</td>
						</tr>
						<tr>
							<td>
								<p>Password</p>
								<input type="password" name="" id="password" placeholder="Password">
							</td>
						</tr>

						<tr align="right">
							<td colspan="2">
								<button id="onLogin">Login</button>
								<button type="reset" id="Clear">Clear</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</form>
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript" src="../js/operation.js"></script>
</body>
</html>